<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">

    <section layout:fragment="content">
        <th:block th:replace="~{admin/commons/_message::message}"></th:block>

        <h1 th:text="${title}"></h1>

        <form name="frmSave" method="post" th:action="@{/admin/config}" autocomplete="off" th:object="${configForm}">
            <table class="table-cols">
                <tr>
                    <th>사이트 제목</th>
                    <td>
                        <input type="text" name="siteTitle" th:field="*{siteTitle}">
                    </td>
                </tr>
                <tr>
                    <th>사이트 설명</th>
                    <td>
                        <textarea name="siteDescription" th:field="*{siteDescription}"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>CSS,JS 버전</th>
                    <td>
                        <input type="number" name="cssJsVersion" th:field="*{cssJsVersion}">
                    </td>
                </tr>
                <tr>
                    <th>회원가입약관</th>
                    <td>
                        <textarea name="joinTerms" th:field="*{joinTerms}"></textarea>
                    </td>
                </tr>
            </table>
            <div class="btns">
                <button type="reset">다시입력</button>
                <button type="submit">저장하기</button>
            </div>
        </form>
    </section>
</html>