<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
    <form method="post" th:action="@{/board/password}" autocomplete="off">
        <dl>
            <dt th:text="#{board.password}"></dt>
            <dd>
                <input type="password" name="password">
            </dd>
        </dl>
        <button type="submit" th:text="#{board.confirm}"></button>
    </form>
</main>
</html>