<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
<section layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <form name="frmSave" method="post" th:action="@{/admin/board/save}" autocomplete="off" th:object="${boardForm}">
        <input th:if="*{mode != null}" type="hidden" name="mode" th:field="*{mode}">
        <div class="message" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <h2>일반설정</h2>
        <table class="table-cols">
            <tr>
                <th>게시판 ID</th>
                <td th:if="*{mode != null && mode == 'update'}">
                    <input type="hidden" name="bId" th:field="*{bId}">
                    [[*{bId}]]
                    <a th:href="@{/board/list/{bId}(bId=*{bId})}" target="_blank" class="sbtn">미리보기</a>
                </td>
                <td th:unless="*{mode != null && mode == 'update'}">
                    <input type="text" name="bId" th:field="*{bId}">
                    <div class="errors" th:each="err : ${#fields.errors('bId')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>게시판명</th>
                <td>
                    <input type="text" name="bName" th:field="*{bName}">
                    <div class="errors" th:each="err : ${#fields.errors('bName')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>사용여부</th>
                <td>
                    <input type="radio" name="use" value="true" id="use_true" th:field="*{use}">
                    <label for="use_true">사용</label>

                    <input type="radio" name="use" value="false" id="use_false" th:field="*{use}">
                    <label for="use_false">미사용</label>
                </td>
            </tr>
            <tr>
                <th>1페이지 게시글 수</th>
                <td>
                    <input type="number" name="rowsOfPage" th:field="*{rowsOfPage}">
                </td>
            </tr>
            <tr>
                <th>게시글 하단 목록</th>
                <td>
                    <input type="radio" name="showViewList" value="true" id="showViewList_true" th:field="*{showViewList}">
                    <label for="showViewList_true">사용</label>

                    <input type="radio" name="showViewList" value="false" id="showViewList_false" th:field="*{showViewList}">
                    <label for="showViewList_false">미사용</label>
                </td>
            </tr>
        </table>

        <h2>분류 설정</h2>
        <table class="table-cols">
            <tr>
                <th>분류</th>
                <td>
                    <textarea name="category" placeholder="분류가 여러개인 경우 엔터키를 눌러 줄개행하여 입력하세요..." th:field="*{category}"></textarea>
                </td>
            </tr>
        </table>

        <h2>권한 설정</h2>
        <table class="table-cols">
            <tr>
                <th>목록</th>
                <td>
                    <input type="radio" name="listAccessRole" value="ALL" id="listAccessRole_ALL" th:field="*{listAccessRole}">
                    <label for="listAccessRole_ALL">전체(비회원+회원+관리자)</label>

                    <input type="radio" name="listAccessRole" value="USER" id="listAccessRole_USER" th:field="*{listAccessRole}">
                    <label for="listAccessRole_USER">회원</label>

                    <input type="radio" name="listAccessRole" value="ADMIN" id="listAccessRole_ADMIN" th:field="*{listAccessRole}">
                    <label for="listAccessRole_ADMIN">관리자</label>
                </td>
            </tr>
            <tr>
                <th>글보기</th>
                <td>
                    <input type="radio" name="viewAccessRole" value="ALL" id="viewAccessRole_ALL" th:field="*{viewAccessRole}">
                    <label for="viewAccessRole_ALL">전체(비회원+회원+관리자)</label>

                    <input type="radio" name="viewAccessRole" value="USER" id="viewAccessRole_USER" th:field="*{viewAccessRole}">
                    <label for="viewAccessRole_USER">회원</label>

                    <input type="radio" name="viewAccessRole" value="ADMIN" id="viewAccessRole_ADMIN" th:field="*{viewAccessRole}">
                    <label for="viewAccessRole_ADMIN">관리자</label>

                </td>
            </tr>
            <tr>
                <th>글쓰기</th>
                <td>
                    <input type="radio" name="writeAccessRole" value="ALL" id="writeAccessRole_ALL" th:field="*{writeAccessRole}">
                    <label for="writeAccessRole_ALL">전체(비회원+회원+관리자)</label>

                    <input type="radio" name="writeAccessRole" value="USER" id="writeAccessRole_USER" th:field="*{writeAccessRole}">
                    <label for="writeAccessRole_USER">회원</label>

                    <input type="radio" name="writeAccessRole" value="ADMIN" id="writeAccessRole_ADMIN" th:field="*{writeAccessRole}">
                    <label for="writeAccessRole_ADMIN">관리자</label>
                </td>
            </tr>
            <tr>
                <th>답글</th>
                <td>
                    <input type="radio" name="replyAccessRole" value="ALL" id="replyAccessRole_ALL" th:field="*{replyAccessRole}">
                    <label for="replyAccessRole_ALL">전체(비회원+회원+관리자)</label>

                    <input type="radio" name="replyAccessRole" value="USER" id="replyAccessRole_USER" th:field="*{replyAccessRole}">
                    <label for="replyAccessRole_USER">회원</label>

                    <input type="radio" name="replyAccessRole" value="ADMIN" id="replyAccessRole_ADMIN" th:field="*{replyAccessRole}">
                    <label for="replyAccessRole_ADMIN">관리자</label>
                </td>
            </tr>
            <tr>
                <th>댓글</th>
                <td>
                    <input type="radio" name="commentAccessRole" value="ALL" id="commentAccessRole_ALL" th:field="*{commentAccessRole}">
                    <label for="commentAccessRole_ALL">전체(비회원+회원+관리자)</label>

                    <input type="radio" name="commentAccessRole" value="USER" id="commentAccessRole_USER" th:field="*{commentAccessRole}">
                    <label for="commentAccessRole_USER">회원</label>

                    <input type="radio" name="commentAccessRole" value="ADMIN" id="commentAccessRole_ADMIN" th:field="*{commentAccessRole}">
                    <label for="commentAccessRole_ADMIN">관리자</label>
                </td>
            </tr>
        </table>
        <h2>기능 설정</h2>
        <table class="table-cols">
            <tr>
                <th>에디터</th>
                <td>
                    <input type="radio" name="useEditor" value="true" id="useEditor_true" th:field="*{useEditor}">
                    <label for="useEditor_true">사용</label>

                    <input type="radio" name="useEditor" value="false" id="useEditor_false" th:field="*{useEditor}">
                    <label for="useEditor_false">미사용</label>
                </td>
            </tr>
            <tr>
                <th>파일첨부</th>
                <td>
                    <input type="radio" name="useAttachFile" value="true" id="useAttachFile_true" th:field="*{useAttachFile}">
                    <label for="useAttachFile_true">사용</label>

                    <input type="radio" name="useAttachFile" value="false" id="useAttachFile_false" th:field="*{useAttachFile}">
                    <label for="useAttachFile_false">미사용</label>
                </td>
            </tr>
            <tr>
                <th>이미지첨부</th>
                <td>
                    <input type="radio" name="useAttachImage" value="true" id="useAttachImage_true" th:field="*{useAttachImage}">
                    <label for="useAttachImage_true">사용</label>
                    <input type="radio" name="useAttachImage" value="false" id="useAttachImage_false" th:field="*{useAttachImage}">
                    <label for="useAttachImage_false">미사용</label>
                </td>
            </tr>
            <tr>
                <th>글작성 후 이동</th>
                <td>
                    <input type="radio" name="locationAfterWriting" value="view" id="locationAfterWriting_view" th:field="*{locationAfterWriting}">
                    <label for="locationAfterWriting_view">게시글</label>

                    <input type="radio" name="locationAfterWriting" value="list" id="locationAfterWriting_list" th:field="*{locationAfterWriting}">
                    <label for="locationAfterWriting_list">목록</label>
                </td>
            </tr>
            <tr>
                <th>답글사용</th>
                <td>
                    <input type="radio" name="useReply" value="true" id="useReply_true" th:field="*{useReply}">
                    <label for="useReply_true">사용</label>

                    <input type="radio" name="useReply" value="false" id="useReply_false" th:field="*{useReply}">
                    <label for="useReply_false">미사용</label>
                </td>
            </tr>
            <tr>
                <th>댓글사용</th>
                <td>
                    <input type="radio" name="useComment" value="true" id="useComment_true" th:field="*{useComment}">
                    <label for="useComment_true">사용</label>

                    <input type="radio" name="useComment" value="false" id="useComment_false" th:field="*{useComment}">
                    <label for="useComment_false">미사용</label>

                </td>
            </tr>
            <tr>
                <th>게시판 스킨</th>
                <td>
                    <input type="radio" name="skin" value="default" id="skin_default" th:field="*{skin}">
                    <label for="skin_default">기본</label>

                    <input type="radio" name="skin" value="gallery" id="skin_gallery" th:field="*{skin}">
                    <label for="skin_gallery">갤러리</label>
                </td>
            </tr>
        </table>
        <div class="btns">
            <button type="reset">다시작성</button>
            <button type="submit">
                <th:block th:if="*{mode != null && mode == 'update'}">수정하기</th:block>
                <th:block th:unless="*{mode != null && mode == 'update'}">등록하기</th:block>
            </button>
        </div>
    </form>
</section>
</html>