<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="skin">
    <th:block th:replace="~{board/skins/default/_board_title::title}"></th:block>
    <form name="frmSave" method="post" th:action="@{/board/save}" autocomplete="off" th:object="${boardForm}">
        <input type="hidden" name="id" th:field="*{id}">
        <input type="hidden" name="bId" th:value="${board.bId}">
        <input type="hidden" name="gid" th:field="*{gid}">
        <th:block th:replace="~{board/skins/default/_form::form}"></th:block>
        <div class="btns">
            <button type="reset" th:text="#{board.reset}"></button>
            <button type="submit" th:text="#{board.update}"></button>
        </div>
    </form>
</th:block>
</html>