<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css?v={v}(v=${cssJsVersion})}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCss}" th:href="@{/css/admin/{cssFile}.css?v={v}(cssFile=${file}, v=${cssJsVersion})}">
    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/js/admin/common.js?v={v}(v=${cssJsVersion})}"></script>
    <script th:each="jsFile : ${addScript}"
            th:src="@{/js/admin/{jsFile}.js?v={v}(jsFile=${jsFile}, v=${cssJsVersion})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<header th:replace="~{outlines/admin/header::common}"></header>
<main layout:fragment="content"></main>
<footer th:replace="~{outlines/admin/footer::common}"></footer>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>