<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="description" th:content="${@siteConf.get('siteDescription')}">
    <title>
        <th:block th:if="${pageTitle != null}" th:text="${pageTitle + ' ::'}"></th:block>
        <th:block th:text="${@siteConf.get('siteTitle')}"></th:block>
    </title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css?v={v}(v=${@siteConf.get('cssJsVersion')})}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCss}" th:href="@{/css/admin/{cssFile}.css?v={v}(cssFile=${file}, v=${@siteConf.get('cssJsVersion')})}">
    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/js/admin/common.js?v={v}(v=${@siteConf.get('cssJsVersion')})}"></script>
    <script th:each="jsFile : ${addScript}"
            th:src="@{/js/admin/{jsFile}.js?v={v}(jsFile=${jsFile}, v=${@siteConf.get('cssJsVersion')})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<header th:replace="~{outlines/admin/header::common}"></header>
<main>
    <aside th:replace="~{outlines/admin/side::menu}"></aside>
    <section>
        <th:block th:replace="~{admin/commons/_submenu::menus}"></th:block>
        <section layout:fragment="content"></section>
    </section>
</main>
<footer th:replace="~{outlines/admin/footer::common}"></footer>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>